name: release
on:
  push:
    branches:
      - 'main'

env:
  POETRY_VERSION: 1.8.4
  DOCKER_APP: joncpaske/awsiammapper

jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/awsiammapper
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: install poetry
        run: curl -sSL https://install.python-poetry.org | python3 -
      - name: get version
        run: echo "APP_VERSION=$(poetry version | cut -d ' ' -f 2)" >> $GITHUB_ENV
      - name: build
        run: poetry build --format wheel
      - name: create GitHub release
        run: gh release create "v${APP_VERSION}" dist/*.whl
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: build
        run: poetry build --format wheel
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_APP }}:${{ env.APP_VERSION }}-alpine